<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366842616021-4r774qiafoh3dkle6f0vd36i92rimr47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366842616021-4r774qiafoh3dkle6f0vd36i92rimr47</string>
	<key>API_KEY</key>
	<string>AIzaSyDgPdK9jG7fMaq8x25M4D75nLGMhwXHkec</string>
	<key>GCM_SENDER_ID</key>
	<string>366842616021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>robbiepritchard.NotYoutube</string>
	<key>PROJECT_ID</key>
	<string>butnot-b9677</string>
	<key>STORAGE_BUCKET</key>
	<string>butnot-b9677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:366842616021:ios:8777eef601bde0f7</string>
	<key>DATABASE_URL</key>
	<string>https://butnot-b9677.firebaseio.com</string>
</dict>
</plist>
